.profile-container {
  display: flex;
  flex-direction: column;
  margin: 55px 0px 0px 0px;
  background-color: #eceff1;
}
.top-profile{
  display: flex;
  flex-direction: row;
  height: 50vh;
  justify-content: space-around;
  margin: 0px;
  padding-bottom: 0px;
  background-color: white;
}
.profile {
  display: flex;
  flex-direction: row;
  margin: 10px;
  
}

.patient-card{
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.top-bar {
  display: flex;
  flex-direction: row;
  background-color: #dc3545;
  width: 100%;
  height: 100%;
  height: 10vh;
  justify-content: space-around;
  cursor: pointer;
  margin-top: 20px;
}
.item{
  width: 100%;
  margin-block-end: 1px solid white;
  padding: 15px;
}
