.doctor-container {
  display: flex;
  flex-direction: column;
  background-color: #eceff1;
  margin: 0px;
  padding: 0px;
}
.first-container-doc {
  display: flex;
  flex-direction: row;
  height: 50vh;
  justify-content: space-around;
  margin: 0px 20px 0px 20px;
  padding-bottom: 0px;
  background-color: #eceff1;
}

.doc-profile {
  display: flex;
  flex-direction: row;
  margin: 15px;
  background-color: white; 
}

.doc-profile:focus,
.doc-profile:hover {
  border: 2px solid #dc3545;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.doc-profile .left-container {
  display: flex;
  flex-direction: column;
}
.doc-img {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  width: 60%;
  max-height: 300px;
  padding: 20px;
}

.right-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}


.clickable{
  text-decoration: none;
  color: black;
  top:0;
  left: 0;
  
  z-index: 1; 
 
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  align-items: center;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: auto;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
